# ignore all latex build files
*.log
*.synctex.gz
*.toc
*.fls
*.out
*.fdb_latexmk
*.aux

# Ignore all things in python enviroment folder
src/api-server/myenv/
src/api-server/__pycache__
src/data/slnb
.idea

# Ignore other files
*.pyc
